@using NerdDinner.Models
@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#rsvpmsg").click(function () {

            $.ajax({
                type: "POST",
                url: '/RSVP/Register/' + @Model.DinnerID,
                success: function(data) {
                    $("#rsvpmsg").html(data);
                    $("#rsvpmsg").css("color", "red");
                    $("#rsvpmsg").animate({ "font-size": "1.5em" }, 400);
                }
            });
            return false; 
        });
    });
   
    
</script>


<h2>Details</h2>

<div>
    <h4>Dinner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostedBy)
        </dd>

    </dl>
</div>
<p>
    @{
        Html.RenderPartial("EditAndDeleteLinks");
        Html.RenderPartial("RSVPStatus");
    }
</p>
<div id="mapDiv">
    @{
        Html.RenderPartial("Map");
    }
</div>
