@model NerdDinner.Helpers.PaginatedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}

<h2>Upcoming Dinners</h2>

<ul>

    @foreach (var item in Model) {
        <li>
            <a href="@Url.Action("Details", new {id = item.DinnerID})">
                <span>@Html.DisplayFor(modelItem => item.Title)</span>
            </a>
            <text> on </text>
            @String.Format("{0:d}", item.EventDate.ToShortDateString())
            <text> at </text>
            @String.Format("{0:d}", item.EventDate.ToShortTimeString())
        </li>
    }
</ul>

@{
    if (Model.HasPreviousPage())
    {
        @Html.RouteLink("<<<", "UpcomingDinners", new {page = (Model.PageIndex - 1)});
    }
    if (Model.HasNextPage())
    {
        @Html.RouteLink(">>>","UpcomingDinners", new { page = (Model.PageIndex + 1)});
    }
}
